section {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  gap: 10px;
}

.div-tv {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40%;
  max-height: 450px;
  margin-right: 2rem;
  background-repeat: no-repeat;
  /* background-color: black; */
}

.div-tv img{
  max-width: 400px;
  mix-blend-mode: multiply;
  border-radius: 10px;
}

.div-txt-btn-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 40%;
  height: 260px;
}

.div-txt-btn-banner h1{
  font-size: var(--title-size-1);
}

.div-txt-btn-banner p {
  font-size: var(--paragraph-size);
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 32px;      /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
  color: #fff;
}

.div-txt-btn-banner button{
  font-size: var(--link-size);
}

.div-preco-e-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
}

.titulo-banner {
  padding: 0;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 110%;
  color: #5c7df2;
  text-align: left;
  text-transform: uppercase;
}

.descricao-produto {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: justify;
  color: #ffffff;
}

.preco {
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 110%;
  color: #00a202;
}

.btn-comprar {
  padding: 15px 10px;
  background: #5c7df2;
  border-radius: 10px;
  color: white;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}


.btn-comprar:hover{
  background: #87A2FF;
}

@media(max-width:1024px){

  section{
    justify-content:space-between;
    max-width: 687px;
    margin-left: 1rem;
    margin-right: 1rem;

  }
  .div-tv{
    width: 40%;
  }
  .div-txt-btn-banner{
    width: 50%;
    justify-content:space-evenly;

  }
  .titulo-banner {
    margin-bottom: 0.5rem;
  }

  .btn-comprar {
    width: 50%;
    height: 42px;
  }
  
  
}

@media(max-width:768px){
  .div-txt-btn-banner {
    margin-left: 0rem;
  }
  .div-tv {
    margin-right: 0rem;
  }
}

@media(max-width:687px){
  section {
    margin:0 3rem;
  }

}

@media(max-width:400px){

  section {
    display: flex;
    flex-direction: column !import;
  }

  .div-txt-btn-banner p {
    display: none;
  }

  .div-txt-btn-banner h1 {
    font-size: var(--title-size-2);
  }
}