*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@font-face{
  font-family:Inter-Bold;
  src:url(../fonts/inter/Inter-Bold.ttf)
}

@font-face{
  font-family:Inter-ExtraLight-BETA;
  src:url(../fonts/inter/Inter-ExtraLight-BETA.ttf)
}


@font-face{
  font-family:Roboto-Regular;
  src:url(../fonts/roboto/Roboto-Regular.ttf)
}

.box-headermshow{
  display: none;
}.box-headerhiden{
  display: none;
}
.header-total-showm{
  display: none;
}

@media(max-width:687px){
  
.box-headermshow{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  top: 0;

  background: #191A1F;
  z-index: 23;

  transition: 0.5s ease-in-out;
  opacity: 1;

 
}

.box-headermhiden{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  top: -70px;

  background: #191A1F;
  z-index: 23;

  transition: 0.5s ease-in-out;
  opacity: 0;
}
.div-logo{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: .1rem;
}


.div-menu img{
  width: 80%;

}

.area-logom{

  width: 100%;
  height: 70px !important;

}
.txt-logom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48.1px;
}

.txt-logom img{
  width: 100%;
  margin: 0;
  padding: 0;
}

.txt-logom p{
  font-size: 9px;
  font-family:Inter-Bold;
  margin: 0;
  padding: 0;
}



img:hover{
  cursor: pointer;
  fill:white;
}

.area-logom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 0px;
  color: white;
  padding-top: 0rem;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.area-input{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  max-width: 55%;
  height:30px;

  padding-right: 0.2rem;
  padding-left: 1.5rem;
  background: #3B3D44;
  border-radius: 5px;

  margin-left: 5px;
  margin-right: 5px;

}

.input-search{
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: white;
  background: #3B3D44;
  border: none;
}
.input-search:focus{
  --input-border: none;
  outline: 3px solid transparent;
}

.lupa-search{
  cursor: pointer;
}
.lupa-search img{
  width: 90%;
}
.txt-area-login-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-right: 0.5rem;
}


.txt-area-login{
  padding-left: 1rem;
  font-family:Inter-ExtraLight-BETA;
  font-size: 0.8rem;
}

/**************************************************************************/

.header-total-showm{
  display: flex;
  flex-direction: column;
  width: 60%;
  height:100%;
  z-index: 25;

}


.nav-total{

  position: fixed;
  top: 0px;
  left: 0px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 78%;
  height: 100%;

  margin: 0;
  background: #191A1F;
  box-sizing: border-box;

  transition: 0.5s ease-in-out;

  z-index: 22;

}

.nav-totalhiden{

  position: fixed;
  top: 0px;
  left: -600px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 70%;
  height: 100%;

  margin: 0;
  background: #191A1F;
  box-sizing: border-box;

  transition: 0.5s ease-in-out;

  z-index: 22;
}

.mascarashow{
  position: fixed;
  top: 0;
  right: 0;
  opacity: 1;
  width: 100%;
  height: 100vh;
  background:rgba(67, 97, 204,  0.2);

  z-index: 22;
  transition: 0.45s ease-in-out;
}

.mascarahide{
 opacity: 0;
 background:rgba(67, 97, 204,  0.2);
 z-index: 22;
transition: 0.45s ease-in-out;
}

nav{
  position: relative;
  width: 100%;
}

ul{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: white;
}


li{
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  font-family:Roboto-Regular;
  list-style-type: none;

  position: relative;

  width: 100%;
  height: 70px;
  position: relative;
  background: #191A1F;
  border-bottom: 0.05px solid #3B3D44;
}

li img{
  width: 8%;
  margin-left: 1rem;
  transition: 0.5s ease-in-out;
}
.user a{
  text-transform: lowercase;
}
.carrinho a{
  text-transform: lowercase;

}

a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding-left: 1rem;

  font-size: 12px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

a:hover{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  height: 100%;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0;
  padding-bottom: 0;

  padding-left: 0.5rem;

  font-size: 12px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  color:  #4361CC;
}

li:hover{
  transition: 0.5s ease-in-out;
  background: black;
}

li:hover img{
  width: 9%;
  margin-left: 1.2rem;
  transition: 0.5s ease-in-out;
}


.btn-fechar{
  position: absolute;
  top:0;
  right: 0;
  width: 6%;
  margin: 0.2rem;
}
.btn-user{
  width: 20%;
}
.btn-carrinho{
  width:15%;
}
.div-usuario{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.div-carrinho{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.icons-nav{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  width: 100%;
  height: 70px;
  padding-left: 1rem;
  padding-right: 0.5rem;
  border-bottom: 0.05px solid #3B3D44;
  /* padding-top: 0.5rem; */
}

.icons-nav a{
  display: block;
  font-family:Roboto-Regular;
  color: #3B3D44;
  font-size: 10px;
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;

}

.icons-nav a:hover{

  color: white;
}


 li:hover a::before {

  content: " ";
  position: absolute;
  left: -2px;
  bottom: 0.7px;
  width: 5px; 
  height: 100%;
  transition: 0.3s ease-in-out;
}

}







