.grupocard{
  margin-top: 1rem !important;
  height: auto !important;
  padding-bottom: 3rem
  /* padding-bottom: 0.5rem !important; */
}
.cards{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: flex-start !important;

  margin:0;
  padding-top: .5rem;
  /* height: 570px !important; */
  width: 285px !important;
  background:#3B3D44!important;
  border-radius: 0.5rem !important;
  border: none !important;
}
.swiper-wrapper{
  margin-bottom: 3rem;
}

@media (max-width:768px){
  .cards{
    width:285px !important;
    height: auto !important;
  }
}

@media (max-width:687px){
  .swiper-wrapper{
    margin-bottom: -9rem;
  }

}

@media(max-width:425px){
  .grupocard .swiper-wrapper{
    margin-bottom: -4rem;
  }

}