.grupocard{
  margin-top: 1rem !important;
  height: auto !important;
  padding-bottom: 3rem;
  /* padding-bottom: 0.5rem !important; */
  max-width: 80vw;
}
.cards{
  min-width: 285px;
}
.swiper-wrapper{
  margin-bottom: 3rem;
}

@media(max-width: 1024px){
  .cards{
    min-width: 240px;
  }
}
