.foto {
  width: auto;
  height: 269px;
  border-radius: 1rem;
  border: none;
}

.foto-txt-preco-btn{
  padding: 0.5rem;
  background:#3B3D44;
  border-radius: 5px;
}

.foto-txt-preco-btn a {
  text-decoration: none;
}

.descricao-produto-cards {
  border-top: 1px solid #6B6B6B;
  margin-top: 0.5rem;
  height: auto;
  text-align: left;
}

.descricao-titulo {
  font-style: normal;
  font-size: 22px;

  color: #ffffff;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.descricao-caracteristicas {
  font-size: 16px;
  color: #ffffff;
}

.foto-txt-preco-btn .descricao-preco-card {
  font-size: 39px;
  color: #00a202;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-card {
  border: none;
  background: #5c7df2;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  width: 100%;
  color: #fff;
  font-size: 15px;
}

.btn-card:hover{
  background: #87A2FF;
}

.descricao-titulo {
  overflow: hidden; /* remove o estouro do elemento */
  text-overflow: ellipsis; /* adiciona “...” no final */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* quantidade de linhas */
  -webkit-box-orient: vertical; /* conteúdo será apresentado verticalmente */
  min-height: 52px;
}
.descricao-caracteristicas{
  overflow: hidden; /* remove o estouro do elemento */
  text-overflow: ellipsis; /* adiciona “...” no final */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* quantidade de linhas */
  -webkit-box-orient: vertical; /* conteúdo será apresentado verticalmente */
}