.step-area{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
}

.step-icon{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 2px solid #5C7DF2;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #5C7DF2;
   font-size: 20px;
}

.line{
   flex-grow: 1;
   height: 1px;
   background-color: #5C7DF2;
}

.step-icon-active{
   background-color: #fff;
}

@media(max-width: 500px){
   .step-icon{
      width: 30px;
      height: 30px;
      font-size: 16px;
   }
}