.loading img{
   width: 70px;
   height: 70px;
}

.sem-margin{
   margin: 0;
}

.margin-loading{
   margin-top: 300px;
   margin-bottom: 100px;
}

.center{
   display: flex;
   justify-content: center;
   align-items: center;
}