.page-dados-pessoais{
   max-width: 80vw;
   margin-top: 270px;
   margin-bottom: 30px;
   display: flex;
   justify-content: space-between;
   padding: 10px;
   gap: 20px;
}
.page-dados-pessais-form{
   background: #191A1F;
   box-shadow: inset 0px 0px 136px 32px rgba(0, 0, 0, 0.4);
   border-radius: 5px;
   flex-grow: 1;
   color: #fff;
   padding: 40px 0px;
   display: flex;
   justify-content: center;
}

.form-dados-pessoais{
  display:flex;
  flex-direction: column;
}

.form-dados-pessoais label, .form-dados-pessoais button{
   margin-top: 30px;
}

.form-dados-pessoais input{
   width: 400px;
}

.form-dados-pessoais button{
  padding: 15px 0px;
}

.page-dados-pessais-form h1{
   font-size: var(--title-size-1); 
}

.page-dados-pessais-form h1 svg{
   color: #5C7DF2;
}

@media(max-width: 900px){
   .page-dados-pessoais{
      max-width: 90vw;
   }
}

@media(max-width: 687px){

   .page-dados-pessoais{
      max-width: 90vw;
      margin-top: 100px;
      gap: 10px;
      max-width: 95vw;
      flex-direction: column;
      gap: 20px;
   }

}