footer{
    background-color: #191A1F;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #6B6B6B;
}

.content{
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
    gap: 15px;
}

footer h3{
    font-size: var(--title-size-3);
    font-weight: 400;
    color: #5C7DF2;
    margin-bottom: 20px;
    margin-top: 0;
}

footer p{
    font-weight: 400;
    color: #FFFFFF;
}

footer a{
    font-size: var(--link-size);
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}

.border-footer{
    width: 1px;
    height: 100%;
    background-color: #6B6B6B;
    margin: 0 40px;
}

.content > div.footer-card{
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    justify-content: space-between;
}

.footer-generic1{
    align-items: center;
    justify-content: center;
}

.footer-generic1 img{
    display: block; 
    max-width: 150px;
    margin-bottom: 25px;
}

.footer-generic1 p{
    font-size: var(--paragraph-size);
    text-align: justify; 
}

.footer-generic1 div span{
    font-size: var(--paragraph-size);
}

.footer-generic1 span{
    font-size: 19px;
    font-weight: 400;
    color: #5C7DF2;   
}

.footer-generic2 .departamentos{
    display: flex;
    flex-direction: column;
}

.footer-generic2 .footer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.footer-generic2 img{
    display: block;
    height: 50px;
    object-fit: contain;
}

.footer-generic3 .central-atendimento a{
    max-height: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    word-wrap: break-word;
    font-size: var(--link-size);
}

.footer-generic3 .central-atendimento a img{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.footer-generic3 .footer-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between
}

@media(max-width: 1024px){

    .footer-generic3 .central-atendimento a{
        margin-right: 5px;
    }
    
    .footer-generic3 .central-atendimento a img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .footer-generic1 img{
        max-width: 120px;
    }

    .content{
        gap: 8px;
    }

    .content > div.footer-card{
        padding: 20px 0;
    }

    .border-footer{
        margin: 0 5px;
    }
}

@media(max-width:687px){

    .content > div.footer-card{
        width: 100%;
        gap: 20px;
    }

    .border-footer{
        margin: 20px;
        width: 100%;
        height: 1px;
    }

    .footer-generic1 img{
        min-width: 90px;
    }

    .footer-wrapper img{
        width: 100%;
    }

    .footer-socials img{
        min-width: 24px;
    }


}